@import "../../../../assets/styles/homepage.css";

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-card {
  width: 30%;
  font-family: 'Quicksand', sans-serif;
  background-color: whitesmoke;
}

@media only screen and (max-width: 600px) {
  .login-card {
    width: 90%;
  }
}
