<button (click)="setAssignmentScore()" class="btn btn-primary">Simpan</button>
<button (click)="check()" class="btn btn-primary">Check</button>
<p-table #dt [value]="assignments" [scrollable]="true" [(selection)]="selectedAssignment" dataKey="id"
  styleClass="p-datatable-participant" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
  [globalFilterFields]="['idAssignmentSubmission.idParticipant.idProfile.fullName','averageValue']">
  <ng-template pTemplate="caption">
    <div class="table-header p-d-flex p-jc-between">
      List of Participant
      <span class="p-input-icon-right">
        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Cari..." />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col style="width: 50px;">
      <col style="width: 100px;">
      <col style="width: 100px;">
      <col style="width: 100px;">
      <col style="width: 100px;">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>No</th>
      <th>Nama Peserta</th>
      <th>Waktu</th>
      <th>Berkas</th>
      <th>Nilai</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-assignment let-i="rowIndex">
    <tr class="p-selectable-row">
      <td>
        <span class="p-column-title">{{i + 1}}</span>
      </td>
      <td>
        <span class="p-column-title">{{assignment.idAssignmentSubmission.idParticipant.idProfile.fullName}}</span>
      </td>
      <td>
        <span class="p-column-title">{{assignment.idAssignmentSubmission.submitTime}}</span>
      </td>
      <td>
        <span (click)="downloadFileFromBlob(assignment.idAssignmentSubmission.idFile, 'tugas')" class="p-column-title">{{assignment.idAssignmentSubmission.idParticipant.idProfile.fullName}}-answer</span>
      </td>

      <td>
        <input [(ngModel)]="assignment.score" (ngModelChange)="onChangeScore($event)" type="number" min="0" max="100" value="{{assignment.score}}">
      </td>
      
    </tr>
  </ng-template>
</p-table>
