.closed {
    background-color: #FFCDD2;
    color: #73000c;
    padding: 15px 15px 1px 15px;
    width: fit-content;
    margin-bottom: 2rem;
}

.upload-box {
    background-color: aliceblue;
    color: #044868;
    padding: 1rem;
    margin-bottom: 2rem;
}