@import "../../styles/colors.scss";
@import "../../styles/font";
@import "../../styles/variables";

.mat-icon {
  margin-right: 15px;
  color: $sidebar-icon-color;
}

:host::ng-deep .p-datepicker  {
  margin-top: 470px;
  height: 430px;
  }

  @media (max-width: 576px) {
    .card{
      width: 600px;
    }
  }

  
  :host::ng-deep .p-dialog{
    width: auto !important;
  }