<footer class="mt-auto">
    <div class="divider"></div>
    <div class="container">
        <div class="p-grid p-jc-center">
            <div class="p-col-12 text-center">
                <div class="p-d-flex">
                    <img src="assets/img/logo.png " class="footer-img-logo align-self-start mr-1 mb-2 " alt=" ">
                    <h2 class="align-self-end "><b>WEDEMY</b></h2>
                </div>
            </div>
            <div class="p-col-12 text-center">
                <div class="d-flex">
                    <i class="pi pi-home mr-2 ml-2 "></i>
                    <p>Jalan Casablanca Kav. 18 Jakarta Selatan</p>
                </div>
            </div>
            <div class="p-col-12 text-center">
                <p> <small>Copyright &copy; 2021 Wedemy, inc.</small></p>
            </div>

            <div class="col-lg-6 pt-3 align-self-center ">
                <!-- <ul>
                    <li>
                        <i class="pi pi-chevron-right mr-1 "></i>
                        <a> Karir </a>
                    </li>
                    <li>
                        <i class="pi pi-chevron-right mr-1 "></i>
                        <a> Blog </a>
                    </li>
                    <li>
                        <i class="pi pi-chevron-right mr-1 "></i>
                        <a> Afiliasi </a>
                    </li>
                    <li>
                        <i class="pi pi-chevron-right mr-1 "></i>
                        <a> Kebijakan privasi </a>
                    </li>
                    <li>
                        <i class="pi pi-chevron-right mr-1 "></i>
                        <a> Hubungi kami </a>
                    </li>
                    <li>
                        <i class="pi pi-chevron-right mr-1 "></i>
                        <a> Bantuan </a>
                    </li>
                </ul> -->
            </div>
            <!-- <div class="col-lg-2 text-right align-self-end ">
                <p> <small>Copyright &copy; 2021 Wedemy, inc.</small></p>
            </div> -->
        </div>
    </div>
</footer>