<footer class="mt-auto">
    <div class="divider"></div>
    <div class="container-fluid">
        <div class="p-grid p-mt-3">
            <div class="p-col-12">
                <!-- <img src="assets/img/logo.png " class="footer-img-logo align-self-start mr-1 mb-2 " alt=" "> -->
                <h2 class="ml-3"><b>WEDEMY</b></h2>
            </div>
            <div class="p-col-12 p-md-3 p-lg-3">
                <i class="pi pi-home mr-2 ml-2 "></i> Jalan Casablanca Kav. 18 Jakarta Selatan
            </div>
            <div class="p-col-12 p-md-3 p-lg-3">
                <i class="pi pi-envelope mr-2 ml-2 "></i> elearningalfione@gmail.com


            </div>
            <div class="p-col text-right">
                <p>Copyright &copy; 2021 Wedemy, inc. All Rights Reserved.</p>
            </div>

            <!-- <div class="col-lg-6 pt-3 align-self-center "> -->
            <!-- <ul>
                    <li>
                        <i class="pi pi-chevron-right mr-1 "></i>
                        <a> Karir </a>
                    </li>
                    <li>
                        <i class="pi pi-chevron-right mr-1 "></i>
                        <a> Blog </a>
                    </li>
                    <li>
                        <i class="pi pi-chevron-right mr-1 "></i>
                        <a> Afiliasi </a>
                    </li>
                    <li>
                        <i class="pi pi-chevron-right mr-1 "></i>
                        <a> Kebijakan privasi </a>
                    </li>
                    <li>
                        <i class="pi pi-chevron-right mr-1 "></i>
                        <a> Hubungi kami </a>
                    </li>
                    <li>
                        <i class="pi pi-chevron-right mr-1 "></i>
                        <a> Bantuan </a>
                    </li>
                </ul> -->
            <!-- </div> -->
            <!-- <div class="col-lg-2 text-right align-self-end ">
                <p> <small>Copyright &copy; 2021 Wedemy, inc.</small></p>
            </div> -->
        </div>
    </div>
</footer>