/* Footer */

footer {
    background-color: #F1C21B;
    /* background-color: grey; */
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.footer-img-logo {
    width: 40px;
}

ul {
    list-style-type: none;
}

.left-footer {
    background-color: white;
    color: black;
    width: fit-content;
}

.divider {
    height: 3px;
    background-color: grey;
}

p {
    font-size: medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif !important;
}