nav {
    background: #eaebec;
    min-height: 70px;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 10;
    font-family: 'Quicksand', sans-serif;
}

.nav-logo {
    height: 40px;
}

.nav-name {
    font-size: 25px;
}

.navbar {
    position: sticky;
}

@media only screen and (max-width: 991px) {
    .vertical-divider {
        display: none !important;
    }
}

a {
    font-size: medium;
}