<section class="section-title mb-5 text-center text-sm-left">
  <h2>Instruktur</h2>
</section>

<div class="row align-content-center profile-wrapper">
  <div class="d-flex flex-column col-lg-2 col-sm-12 text-center align-items-center mb-4">
    <img class="instructor-img rounded-circle" src="{{tutor.idProfile.idFile.file ? 'data:image/png;base64,'+ tutor.idProfile.idFile.file : 'assets/img/profile-default.jpeg'}}" alt="Anggi Alberto">

    <div class="instructor-name">
     {{tutor.idProfile.fullName}}
    </div>
  </div>
  <div class="col-lg-9 col-sm-12 instructor-bio">
   {{tutor.idProfile.bio}}
  </div>
</div>
