.center {
    margin: 0;
    margin-top: 100px;
}

.login-card {
    width: 30%;
    font-family: 'Quicksand', sans-serif;
}

@media only screen and (min-width: 0px) {
    .login-card {
        width: 90%;
    }
}

@media only screen and (min-width: 600px) {
    .login-card {
        width: 50%;
    }
}

@media only screen and (min-width: 1100px) {
    .login-card {
        width: 30%;
    }
}

.img-wrapper img {
    width: 30%;
}

.h-text {
    color: #2196F3;
}

p {
    font-size: medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif !important;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.success-dialog img {
    width: 100px;
    margin-bottom: 2rem;
}