nav {
  font-family: Quicksand, sans-serif !important;
  font-size: 18px !important;
  font-weight: 700;
  color: #000000;
}

.nav-link-item {
  color: #000000 !important;
}

.nav-link-item:hover {
  color: #f4d242 !important;
}

.dropdown-menu {
  font-size: 14px !important;
}

.gravatar {
  width: 34px;
  height: 34px;
}

.profile-name {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  cursor: pointer;
}

.profile-name:hover {
  color: #f4d242 !important;
}
