<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container">
    <a [routerLink]="['home']" class="navbar-brand ml-3 ml-lg-0 d-flex justify-content-center">
      <img src="assets/img/logo.png" alt="Logo" style="width: 40px; height: 40px;">
      <b class="ml-1 pt-2 " style="font-size: 26px;">WEDEMY</b>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navMobile">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu (Navbar Alternative) -->
    <div class="collapse navbar-collapse" id="navMobile">
      <ul class="navbar-nav nav mr-auto ml-lg-0 ml-4">
        <li class="nav-item">
          <a [routerLink]="['dashboard']" class="nav-link nav-link-item active">Kelas Saya</a>
        </li>
      </ul>

      <div class="dropdown d-flex">
        <div class="d-block mr-lg-3 my-lg-0 my-2 ml-lg-0 ml-4">
          <img class="gravatar rounded-circle" src="https://s.gravatar.com/avatar/52bc543775b79088bc3bb3db40524299?d=mm"
            alt="albertoanggi@gmail.com">
        </div>
        <p class="profile-name my-auto ml-3 ml-md-lg-0 ml-lg-0 dropdown-toggle" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hai, Anggi</p>

        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Dashboard</a>
          <a class="dropdown-item" href="#">Profil Saya</a>
          <a class="dropdown-item" href="#">Pengaturan</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Keluar</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- End NavBar -->
