<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container">
    <a href="#" class="navbar-brand ml-3 ml-lg-0">
      <img src="../../../../../assets/img/logo.png" alt="Logo" style="width: 44px; height: 44px;">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navMobile">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu (Navbar Alternative) -->
    <div class="collapse navbar-collapse" id="navMobile">
      <ul class="navbar-nav nav mr-auto ml-lg-0 ml-4">
        <li class="nav-item text-uppercase">
          <a href="#" class="nav-link nav-link-item">My Class</a>
        </li>
      </ul>

      <div class="dropdown d-flex">
        <div class="d-block mr-lg-3 my-lg-0 my-2 ml-lg-0 ml-4">
          <img class="gravatar rounded-circle" src="https://s.gravatar.com/avatar/52bc543775b79088bc3bb3db40524299?d=mm"
            alt="albertoanggi@gmail.com">
        </div>
        <p class="profile-name text-uppercase my-auto ml-3 ml-md-lg-0 ml-lg-0 dropdown-toggle" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">hi, anggi</p>

        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item text-uppercase" href="#">profil saya</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-uppercase" href="#">logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- End NavBar -->
