.content {
    font-family: 'Quicksand', sans-serif;
    margin-top: 70px;
    background-color: #FFFFFF;
    width: 100%;
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0px;
}

.content-item {
    width: 100%;
    margin-bottom: 50px;
}

.content-item-dtl {
    width: 80%;
}

.header {
    height: 250px;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.header-item {
    width: 80%;
    margin-top: -150px;
}

.header-item img {
    width: 250px;
    height: 250px;
}

.modul {
    width: 100%;
    padding: 0% !important;
    background-color: whitesmoke;
}

.tag {
    width: 5px !important;
    height: auto;
    background-color: #F1C21B;
}

[ng-cloak] {
    display: none;
}

body {
    box-sizing: border-box;
    padding: .3em;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.tutor-profile img {
    width: 150px;
    height: 150px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

@media only screen and (max-width: 600px) {
    .content-item {
        width: 100%;
    }
    .card-wrapper {
        width: 100%;
    }
    .sec1 {
        font-size: 20px;
    }
    .header-item img {
        width: 200px;
        height: 200px;
    }
}


/* Popover styling */

a {
    text-decoration: none;
}

.popover__title {
    text-decoration: none;
}

.popover__wrapper {
    position: relative;
    display: inline-block;
}

.popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -150px;
    transform: translate(75px, 10px);
    background-color: #FFFFFF;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
}

.popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #FFFFFF transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(-100, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__message {
    text-align: center;
}