<div class="container px-5 mt-5">
  <div class="row main-material">
    <div class="d-flex h-100 w-100 justify-content-between mb-5 align-items-center">
      <h5 class="material-title">
        <i class="fas fa-file-alt mr-2"></i>
        {{material.idLearningMaterial.learningMaterialName}}
      </h5>
      <button [routerLink]="['/instructor/class/enrolled']" class="btn btn-primary">
        Kembali
      </button>
    </div>
    <div class="content-class">
      <!-- <ng-template [ngIf]="!isLoading">
        <p-skeleton styleClass="p-mb-2" width="100%" height="1rem"></p-skeleton>  
        <p-skeleton styleClass="p-mb-2" width="100%" height="1rem"></p-skeleton>  
        <p-skeleton styleClass="p-mb-2" width="80%" height="1rem"></p-skeleton>  
        <p-skeleton styleClass="p-mb-2" width="70%" height="1rem"></p-skeleton>  
        <p-skeleton styleClass="p-mb-2" width="50%" height="1rem"></p-skeleton>  
        <p-skeleton styleClass="p-mb-2" width="40%" height="1rem"></p-skeleton>  
      </ng-template> -->
      <div [innerHTML]="material.idLearningMaterial.description">
        
      </div>
    </div>
    <div class="col text-center">
      <ul class="row justify-content-center list-unstyled">
        <li [routerLink]="['/instructor/class/material']" routerLinkActive="active" class="tab-item">FORUM</li>
        <li [routerLink]="['presence-assignment']" routerLinkActive="active" class="tab-item">PRESENCE & ASSIGNMENT</li>
        <li [routerLink]="['answer']" routerLinkActive="active" class="tab-item">ANSWER</li>
      </ul> -->
    </div>
  </div>
  <router-outlet></router-outlet>
</div>