<div class="row" style="margin-bottom: 500px;">
  <div class="w-100">
    <div class="mb-4">
      <p-editor [(ngModel)]="comment" [style]="{'height':'100px', 'width': '100%'}">
      </p-editor>
      <button (click)="post()" class="btn btn-primary mt-2">Post</button>
    </div>

    <ng-template ngFor let-forum [ngForOf]="forums" let-i="index">
      <div class="d-flex comments mb-2">
        <img class="rounded-circle mr-3" src="assets/img/profile-default.jpeg" width="48" height="48">
        <div class="d-flex flex-column">
          <div class="d-flex align-baseline">
            <p class="font-weight-bold">{{forum.forum.idUser.idProfile.fullName}}</p><span class="text-black-50">&nbsp;•&nbsp;</span><p>{{ forum.forum.createdAt | dateAgo}}</p>
          </div>
          <div class="comment" style="margin-top: -10px;" [innerHTML]="forum.forum.contentText"></div>
          <div><p>Balas</p></div>
          <div>
            <p-editor [(ngModel)]="comment" [style]="{'height':'100px', 'width': '100%'}">
            </p-editor>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>