<div class="row" style="margin-bottom: 500px;">
  <div class="">
    <div class="mb-4">
      <p-editor [(ngModel)]="comment" [style]="{'height':'100px', 'width': '100%'}">
      </p-editor>
      <button class="btn btn-primary mt-2">Post</button>
    </div>

    <div class="d-flex comments mb-2">
      <img class="rounded-circle mr-3" src="assets/img/profile-default.jpeg" width="48" height="48">
      <div class="d-flex flex-column">
        <div class="d-flex">
          <p>Anggi Alberto</p><span>•</span><p>3 detik yang lalu</p>
        </div>
        <p style="margin-top: -10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur fuga molestias laborum dignissimos. Quos minus officiis dolor nesciunt dolorem dolores, ipsam rem ut quia assumenda fugit mollitia nam ex atque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio in quibusdam tempora blanditiis, magnam vel, aspernatur voluptates, soluta exercitationem explicabo nisi porro doloremque nemo repellat quod impedit obcaecati deleniti neque!</p>
      </div>
    </div>

    <div class="d-flex comments mb-2">
      <img class="rounded-circle mr-3" src="assets/img/profile-default.jpeg" width="48" height="48">
      <div class="d-flex flex-column">
        <div class="d-flex">
          <p>Anggi Alberto</p><span>•</span><p>3 detik yang lalu</p>
        </div>
        <p style="margin-top: -10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur fuga molestias laborum dignissimos. Quos minus officiis dolor nesciunt dolorem dolores, ipsam rem ut quia assumenda fugit mollitia nam ex atque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio in quibusdam tempora blanditiis, magnam vel, aspernatur voluptates, soluta exercitationem explicabo nisi porro doloremque nemo repellat quod impedit obcaecati deleniti neque!</p>
      </div>
    </div>

    <div class="d-flex comments mb-2">
      <img class="rounded-circle mr-3" src="assets/img/profile-default.jpeg" width="48" height="48">
      <div class="d-flex flex-column">
        <div class="d-flex">
          <p>Anggi Alberto</p><span>•</span><p>3 detik yang lalu</p>
        </div>
        <p style="margin-top: -10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur fuga molestias laborum dignissimos. Quos minus officiis dolor nesciunt dolorem dolores, ipsam rem ut quia assumenda fugit mollitia nam ex atque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio in quibusdam tempora blanditiis, magnam vel, aspernatur voluptates, soluta exercitationem explicabo nisi porro doloremque nemo repellat quod impedit obcaecati deleniti neque!</p>
      </div>
    </div>
    
  </div>
</div>