<div class="course-sidebar position-fixed d-inline-block">
  <img src="../../../../assets/img/default-course-image.png" class="w-100" alt="...">

  <h2 class="course-title mx-4">Belajar Dasar Keamanan Dunia Maya</h2>

  <ul class="sidebar-nav list-unstyled">
    <!-- Sidebar Nav -->
    <li [routerLink]="['enrolled', idDetailClass]" routerLinkActive="selected">
      <a class="sidebar-nav-link">
        <span class="lecture-sidebar-icon">
          <i class="fas fa-list-alt"></i>
        </span>
        Kurikulum Kelas
      </a>
    </li>

    <li [routerLink]="['instructor',  idDetailClass]" routerLinkActive="selected">
      <a class="sidebar-nav-link">
        <span class="lecture-sidebar-icon">
          <i class="fas fa-user"></i>
        </span>
        Instruktur
      </a>
    </li>

    <li [routerLink]="['report',  idDetailClass]" routerLinkActive="selected">
      <a class="sidebar-nav-link">
        <span class="lecture-sidebar-icon">
          <i class="fas fa-clipboard-list"></i>
        </span>
        Laporan
      </a>
    </li>
  </ul>
</div>


<div class="course-mainbar">
  <router-outlet></router-outlet>
</div>

<!-- Bottom Navigation -->
<nav class="navbar fixed-bottom navbar-light bg-white shadow-sm d-block d-md-none d-lg-none">
  <a class="navbar-brand" href="#">Fixed bottom</a>
</nav>
<!-- End Bottom Navigation -->
