<app-layout>

    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 pb-5 justify-content-center">
            <div class="card m-5">
                <div class="card-header d-flex">
                    <button class="btn btn-primary-outline" width="20px" routerLink="/user-tutor">
                        <i class="fas fa-chevron-left fa-lg"></i>
                    </button>
                    <h5 class="m-2 pt-1 pb-1">Kembali</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="nama" class="form-label">Nama</label>
                        <input type="text" class="form-control" id="nama" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="idktp" class="form-label">Nomor KTP</label>
                        <input type="text" class="form-control" id="idktp" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="tempatLahir" class="form-label">Tempat Lahir</label>
                        <input type="text" class="form-control" id="tempatLahir" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="tglLahir" class="form-label">Tanggal Lahir</label>
                        <input type="date" class="form-control" id="tglLahir" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="nomorPonsel" class="form-label">Nomor Ponsel</label>
                        <input type="text" class="form-control" id="nomorPonsel" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="alamat" class="form-label">Alamat</label>
                        <input type="text" class="form-control" id="alamat" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">E-Mail</label>
                        <input type="email" class="form-control" id="email" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="Password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="Password" required autofocus>
                    </div>
                    <div class="d-flex justify-content-end">
                        <div class="m-2">
                            <button pButton pRipple label="Kembali" icon="pi pi-times"
                                class="p-button-raised p-button-rounded p-button-danger"></button>
                        </div>
                        <div class="mt-2">
                            <button pButton pRipple label="Simpan" icon="pi pi-check"
                                class="p-button-raised p-button-rounded p-button-success"></button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog> -->
        </div>
    </div>
</app-layout>